<section>
  <a href="/dashboard" class="btn btn-light"><i class="fas fa-arrow-left"></i>
    Back</a>
  <h2 class="title">Add Post</h2>

  <form class="new-post-form">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Post Title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <input
        type="text"
        name="post-content"
        id="post-content"
        placeholder="Post Content"
      />
    </div>
    <button type="submit" class="btn">Create Post</button>
  </form>
</section>

<script src="/MVC-Tech_Blog/public/JS/add-post.js"></script>