<div class="column">
  <h2 class="title pb-4">Login</h2><hr />
  <form class="login-form">
    <div>
      <label for="email-login">Email</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button class="button is-primary" type="submit">Login</button>
      <a href="/signup"><button
          type="button"
          class="button is-danger"
        >Signup</button></a>
    </div>
  </form>
</div>

<!--Javascript-->
<script src="/js/login.js"></script>