<div class="column">
  <h2 class="title pb-4">Create New Account</h2><hr />
  <form class="signup-form">
    <div>
      <label for="username-signup">username</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">email</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="linkedin-signup">linkedin</label>
      <input type="text" id="linkedin-signup" />
    </div>
    <div>
      <label for="github-signup">github</label>
      <input type="text" id="github-signup" />
    </div>
    <div>
      <label for="password-signup">password</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button class="button is-primary" type="submit">Signup</button>
      <a href="/login"><button
          type="button"
          class="button is-danger"
        >login</button></a>
    </div>
  </form>
</div>

<!--Javascript-->
<script src="/js/signup.js"></script>